:root {
  --Blue-600: hsl(231, 69%, 60%);
  --Red-400: hsl(0, 94%, 66%);
  /* --Red-400: #fa5757; */

  --Grey-50: hsl(0, 0%, 97%);
  --Grey-50: #f7f7f7;
  --Blue-950: hsl(229, 31%, 21%);
}

/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 55%;
  }

  .container {
    max-width: 100rem;
  }

  .hero-image {
    width: 50rem;
  }

  .feature-image {
    width: 40rem;
  }

  .features-content-header {
    gap: 8rem;
  }

  .error-img {
    top: 93.1%;
    left: 53%;
  }
}

/* 950px */
@media (max-width: 59.375em) {
  .container {
    max-width: 90rem;
  }

  .features-paragraph,
  .extension-paragraph,
  .faq-paragraph,
  .faq-questions {
    padding: 0 20rem;
  }

  .features-content-header {
    gap: 6rem;
  }

  .error-img {
    top: 92.9%;
    left: 53.5%;
  }
}

/* 850px */
@media (max-width: 53.125em) {
  .container {
    max-width: 72rem;
  }

  .hero-section-body {
    flex-direction: column-reverse;
  }

  .hero-section-body-mobile {
    align-items: center;
  }

  .hero-btns-mobile {
    justify-content: center;
  }

  .hero-image {
    width: 70rem;
  }

  .feature-image {
    width: 55rem;
  }

  .features-content-details {
    flex-direction: column;
  }

  .hero-section::before {
    top: 20%;
    right: 0;
    bottom: 40%;
    width: 90%;
    border-bottom-left-radius: 20rem;
  }

  .hero-content {
    width: 58rem;
    text-align: center;
  }

  .features::before {
    top: 40%;
    left: -15%;
    bottom: 25%;
    width: 80%;
    border-bottom-right-radius: 20rem;
  }

  .feature-contents {
    text-align: center;
  }

  .features-content-header::before {
    left: 13%;
    width: 75%;
  }

  .content1::before {
    left: 13%;
    width: 28%;
    /* display: none; */
  }

  .content2::before {
    left: 41.5%;
    width: 24%;
  }

  .content3::before {
    left: 65%;
    width: 24%;
  }

  .error-img {
    top: 94.68%;
    left: 53.8%;
  }

  .extension-features {
    gap: 2rem;
  }

  .extension-features-details {
    padding: 3rem 2rem 2rem 2rem;
  }
}

/* 700px */
@media (max-width: 43.75em) {
  .container {
    max-width: 55rem;
  }

  .bookmark-header {
    max-width: 75rem;
  }

  .open-menu {
    display: block;
  }

  .extension-features {
    flex-direction: column;
    gap: 4rem;
    margin-top: 3rem;
  }

  .extension-features-details {
    margin-top: 0;
  }

  .hero-image {
    width: 55rem;
  }

  .feature-image {
    width: 45rem;
  }

  .sub-nav {
    display: none;
  }

  .hero-section::before {
    top: 15%;
    right: 0%;
    bottom: 40%;
    width: 90%;
    border-bottom-left-radius: 20rem;
  }

  .features-paragraph,
  .extension-paragraph,
  .faq-paragraph,
  .faq-questions {
    padding: 0 10rem;
  }

  .hero-content {
    width: 50rem;
  }

  .section-header,
  .features-text {
    font-size: 2.5rem;
  }

  .features-content-header::before {
    left: 2%;
    width: 100%;
  }

  .error-img {
    top: 90.25%;
    left: 55%;
  }

  .content1::before {
    left: 2%;
    width: 35%;
  }

  .content2::before {
    left: 39%;
    width: 32%;
  }

  .content3::before {
    left: 69.5%;
    width: 32%;
  }

  .sidebar-header {
    background-color: var(--Blue-950);
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
    animation: slideDown 0.5s ease forwards;
  }

  .sidebar-header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
  }

  .sidebar-nav {
    padding-top: 4rem;
  }

  .sidebar-list li a {
    color: var(--Grey-50);
    margin-right: 0;
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
  }

  .horizontal-line {
    border-top: 1px solid #999;
    width: 100%;
  }

  .horizontal-line-bottom {
    border-bottom: 1px solid #999;
  }

  .list-item-sidebar {
    padding: 2rem 0;
    text-align: center;
  }

  .sidebar-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-btn {
    width: 100%;
    margin-top: 3rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    padding: 1.5rem 3rem;
    background: none;
    border: 1px solid var(--Grey-50);
  }

  .mobile-btn:hover {
    background-color: var(--Red-400);
    border: none;
  }

  .social-nav {
    padding-top: 80%;
    justify-content: center;
  }

  .footer-body,
  .footer-nav {
    flex-direction: column;
  }

  .footer-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .footer-list li a {
    margin-right: 0;
  }

  .footer-social {
    margin-top: 3rem;
  }
}

/* 500px */
@media (max-width: 31.25em) {
  html {
    font-size: 60%;
  }

  .container {
    max-width: 37.5rem;
  }

  .hero-image,
  .feature-image {
    width: 35rem;
  }

  .features-paragraph,
  .extension-paragraph,
  .faq-paragraph,
  .faq-questions {
    padding: 0 2rem;
  }

  .hero-content {
    width: 35rem;
  }

  .hero-text {
    font-size: 3.5rem;
  }

  .features-content-header {
    flex-direction: column;
    gap: 0;
  }

  .hero-section::before {
    top: 15%;
    right: 0%;
    bottom: 55%;
    width: 90%;
    border-bottom-left-radius: 20rem;
  }

  .features::before {
    top: 50%;
    left: -15%;
    bottom: 25%;
    width: 80%;
    border-bottom-right-radius: 20rem;
  }

  .features-content-header::before {
    border-bottom: 0;
  }

  .error-img {
    top: 88.69%;
    left: 76%;
  }

  .content1 {
    border-bottom: 2px solid var(--Grey-50);
    border-top: 2px solid var(--Grey-50);
    width: 90%;
    text-align: center;
  }

  .content1::before {
    left: 33%;
    width: 34%;
    bottom: 66%;
  }

  .content2 {
    border-bottom: 2px solid var(--Grey-50);
    width: 90%;
    text-align: center;
  }

  .content2::before {
    left: 33%;
    width: 34%;
    bottom: 34%;
  }

  .content3 {
    border-bottom: 2px solid var(--Grey-50);
    width: 90%;
    text-align: center;
  }

  .content3::before {
    left: 33%;
    width: 34%;
    bottom: 1%;
  }

  .content-paragraph {
    width: 100%;
  }

  .contact-email {
    flex-direction: column;
    gap: 2rem;
  }

  .email {
    width: 100%;
    padding: 1.6rem 2rem;
  }

  .contact-info {
    width: 100%;
    padding: 1.5rem 12rem;
  }
}

/* 385px */
@media (max-width: 24.0625em) {
  html {
    font-size: 55%;
  }

  .container {
    max-width: 30rem;
  }

  .hero-image,
  .feature-image {
    width: 30rem;
  }

  .hero-content {
    width: 30rem;
  }

  .hero-text {
    font-size: 3rem;
  }

  .hero-section::before {
    right: -6%;
    bottom: 60%;
    width: 100%;
  }

  .features::before {
    top: 52%;
    left: -20%;
    bottom: 28%;
    width: 100%;
    border-bottom-right-radius: 20rem;
  }

  .features-paragraph,
  .extension-paragraph,
  .faq-paragraph,
  .faq-questions {
    padding: 0;
  }

  .error-img {
    top: 88.6%;
    left: 80%;
  }
}

@media (min-width: 43.8125em) {
  .sidebar-header {
    display: none;
  }

  .logo {
    display: block !important;
  }

  .open-menu {
    display: none !important;
  }
}

@keyframes enterBounce {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px); /* slight bounce up */
  }
  80% {
    transform: translateY(2px); /* bounce down a bit */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* final resting position, stays visible */
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 95%;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes fadeInScale {
  from {
    transform: scaleY(0.8);
    opacity: 0;
    max-height: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 70%;
    max-height: 500px; /* adjust depending on your content */
  }
}
